doctype html
html(lang='ko')
  head
    title gilhub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
        background-color:#313a4e;
      }     
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      .img-responsive.img-circle.margin.sub{     
      opacity:0.8;
      border:1.5px solid rgb(71, 78, 93);
      display:block;
      margin:0 auto;
      background-clip: padding-box;
      }
      .row{
      color:white;      
      padding-left:10px;
      padding-right:10px;
      text-align:center;
      }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') gilhub
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/about_us') about us
    .container-fluid
      .row
        img.img-responsive(src='	https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/calasport.hu.14.09.jpg', width='100%', alt='Image')              
      .row        
        h1 about us
        legend
        .col-sm-12
          p
           | 불참한 바른정당 유승민 후보를 제외한 이들은 각자 미래 신성장 동력으로 주목받는 4차 산업혁명에 대한 집권 후 비전을 제시했다. 정세균 국회의장은 "4차 혁명 시대의 키워드는 창의와 융합이라 생각한다"며 지난달 발의한 디지털기반산업기본법과 4차산업혁명기본법을 거론했다. 문 후보는 인사말을 통해 "대통령 직속의 4차 산업혁명 위원회를 만들어 4차 산업혁명 준비에 국가의 모든 역량을 모으겠다"며 "중소기업청을 중소벤처기업부로 승격시키고 혁신 벤처기업을 확실히 지원하겠다"고 밝혔다. 안 후보는 그러자 "대통령 직속 4차 산업혁명 위원회 같은 형태는 굉장히 낡은 사고방식"이라며 "4차 산업혁명 시대에 그렇게 끌고 가다간 오히려 민간의 자율성을 훼손하고 엉뚱한 방향으로 간다"고 문 후보를 비판했다. 홍 후보는 "20조 원 펀드를 만들고, 전라북도 새만금에 4차 산업혁명 전진 기지를 만들겠다"면서도 "조금 가슴 아프게 생각하는 것은 일자리 소멸이다. 서민 일자리에 대한 특단의 대책이 같이 이뤄져야 한다"고 말했다.
          | 
          br
      .row        
        h1 team
        legend
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EC%A1%B8%EB%B6%80.png', width='170', alt='Image')
          p
           | 과장
          | 
          p
           | 분데스리가에서 차붐은 '전설'이었다. 그는 1978년 다름슈타트에서 분데스리가 생활을 시작했다. 당시 축구 변방 한국에서 세계 최고의 리그였던 분데스리가에 진출했다는 것 자체가 전설이었다. 이어 1979년 프랑크푸르트, 1983년 레베쿠젠에서 '갈색 폭격기'로 이름을 날렸다.
          | 
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='	https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EB%9A%B1%EB%83%A5.jpg', width='170', alt='Image')
          p
           | 매니저
          | 
          p
           | 흔히 선수비후역습 전략을 가동하면, 상대 배후 공간을 노리거나, 높이를 활용한 롱패스 한 방의 단순한 공격을 떠올리지만, 실제 공격 매커니즘은 그리 단순하지 않다. 유벤투스는 각기 다른 개성을 가진 네 명의 공격수를 전방에 배치해 변화무쌍한 움직임으로 바르사 수비의 혼을 빼놨다.
          | 
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EB%A7%9D%EA%B5%AC.png', width='170', alt='Image')
          p
           | 대리
          | 
          p
           | 독일 현지 시각 오후 7시였다. 도르트문트 선수단을 태운 버스는 팀호텔에서 나와 스타디움 쪽으로 움직였다. 경기가 열리는 지그날이두나파크까지는 약 10㎞를 남겨놓은 비트브레케 스트라세에서 3차례 폭발이 일어났다.
          | 
          br          
      .row        
        h1 contact us
        legend
        .col-sm-12
          p huttonvanleugen@gmail.com