doctype html
html(lang='ko')
  head
    title gilhub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
        background-color:#313a4e;
      }   
      legend{
      margin-bottom:0px;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      .img-responsive.img-circle.margin.sub{     
      opacity:0.8;
      border:1.5px solid rgb(71, 78, 93);
      display:block;
      margin:0 auto;
      background-clip: padding-box;
      }
      .row{
      color:white;      
      padding-left:10px;
      padding-right:10px;
      text-align:center;
      }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') gilhub
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/about_us') about us
    .container-fluid
      .row
        img.img-responsive(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/flower.png', width='100%', alt='Image')
      .row        
        h2 프로젝트 길허브        
        legend
        br
        .col-sm-12
          p
           | 누구에게나 처음 가는 길은 두려움이 생깁니다.
          |           
          p
           | 내가 걸어온 길을 모두에게 쉽게 알려줄 수 있다면,
          | 
          p
           | 누구나 어렵지 않게 목적지에 갈 수 있습니다.
          | 
          p
           | 길허브 팀은 지구의 모든 코스를 수집합니다.
          | 
          p
           | 길허브 팀은 모두에게 코스를 공개합니다.
          | 
          p
           | 우리 모두는 서로가 서로에게 길을 알려줍니다.
          | 
      .row        
        h2 팀 길허브
        legend
        br
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='	https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/%EC%A1%B8%EB%B6%80.png', width='170', alt='Image')
           br
          p
           | co-founder｜finance
          | 
          p
           | 드라마틱한 즐거움이 인생의 모토인 졸부는 대한민국의 굵직한 국토,지리 사업에 참여한 기획자 입니다.
          | 
          p
           | 졸부는 길허브 서비스의 자금을 담당합니다.
          | 
          br
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='	https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/%EB%9A%B1%EB%83%A5.png', width='170', alt='Image') 
           br
          p
           | co-founder｜communication
          | 
          p
           | 김치와 딸기쨈 콤비와 같이 역설을 즐기는 뚱냥이는 대학생들의 트렌드를 주도하는 현역 언론인입니다.
          | 
          p
           | 뚱냥이는 길허브 서비스의 마케팅을 담당합니다.
          | 
          br
        .col-sm-4
          a(href='#')
           img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/%EB%A7%9D%EA%B5%AC.png', width='170', alt='Image')
           br
          p
           | co-founder｜web-engineer
          | 
          p
           | 한시라도 가만히 있는 것을 못 견디는 망구는 데이터/브랜드 마케팅에 10년간 종사했습니다.
          |         
          p
           | 망구는 길허브 서비스의 개발을 담당합니다.
          | 
      .row        
        h2 길허브와 소통
        legend
        br
        .col-sm-6          
          a(href='https://www.facebook.com/onestepbytrekking') facebook : www.facebook.com
        .col-sm-6
          p e-mail : huttonvanleugen@gmail.com        