doctype html
html(lang='ko')
  head
    title gilhub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
        background-color:#313a4e;
      }
      legend{
      margin-bottom:0px;
      }      
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      .form-group{
      padding-left:10px;
      padding-right:10px;
      margin-bottom:10px;
      }       
      .img-responsive.img-circle.margin.sub{     
      border:1.5px solid rgb(71, 78, 93);
      display:block;
      margin:0 auto;
      background-clip: padding-box;
      }
      button.btn.btn-default.btn-block{
      background-color:black;
      border:1px solid white;
      font-size:2.5rem;
      margin-top:10px;
      margin-bottom:10px;      
      color:#ffffff;           
      }
      h1,h2,h3,h4,h5,p{
      color:white;      
      padding-left:10px;
      padding-right:10px;
      text-align:center;
      }
      h6{
      text-align:justify;
      padding-left:10px;
      padding-right:10px;
      color:lightgray;
      }
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97712975-1', 'auto');
      ga('send', 'pageview');

    script(type='text/javascript', src='http://wcs.naver.net/wcslog.js')
    script(type='text/javascript').
      if(!wcs_add) var wcs_add = {};
      wcs_add["wa"] = "144f45564c9237";
      wcs_do();

    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1846766325540860');
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', src='https://www.facebook.com/tr?id=1846766325540860&ev=PageView\
      &noscript=1') 
  
  body  
    script. 
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '281577488919312',
      xfbml      : true,
      version    : 'v2.9'
      });
      FB.AppEvents.logPageView();
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') #세상의모든#길허브
          
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/about_us') about us
    .container-fluid
      #myCarousel.carousel.slide(data-ride='carousel')       
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            a(href='/')
              img(src='	https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/abouts.png', width='100%', height='auto')
              .carousel-caption
                h2 '길 허브'(gilhub) 프로젝트
      
      form(name='position_fix', action='/return', method='post')
        legend
          br
          h2 이런 활동을 합니다.
          legend          
          br          
          p '길허브'는 모든 길을 '수집'합니다.
          p '길허브'는 모든 길을 '공개'합니다.
          p 그래서, "길허브(gilhub)"입니다.
          br
          h2 이런 녀석들입니다.
          legend
          br          
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/jolbu.jpg', width='170', alt='Image')
          br
          h4 "형님한테 딱 맞는 길은"
          p
           | Lupin｜finance｜manager
          |           
          p
           | lupin@gilhub.io
          | 
          br
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/fatcat.png', width='170', alt='Image') 
          br
          h4 "저희가 찾아둘테니, 형님은~"
          p
           | Mini｜marketing｜manager
          |           
          p
           | mini@gilhub.io
          | 
          br
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/hutton.jpg', width='170', alt='Image')
          br
          h4 "연차나 눈치껏 내보세요~!"
          p
           | Hutton｜web-engineer｜manager
          |                          
          p
           | hutton@gilhub.io
          | 
          br
          
          h2 CONTACT US            
          legend
          br
          p 
           a(href='https://www.facebook.com/GilHub.io/') Community Center
          p e-mail : info@gilhub.io
          
        //h1 HISTORY
          legend
          br
          h6 16년 12월 23일 : 프로젝트를 실현하겠다고 마음을 먹었다.
          h6 16년 12월 26일 : 프로젝트 팀(mini, lupin)멤버를 구했다.
          h6 16년 12월 30일 : 프로젝트 이름(project_anmg)을 정했다.
          h6 16년 12월 27일 : 페이스북 페이지(망구랑..)를 오픈했다.
          h6 17년 01월 25일 : 팀 운영을 위한 가상 오피스를 오픈했다.
          h6 17년 01월 01일 : 프로토 타입(ver.01)이 만들어졌다.
          h6 17년 03월 22일 : 일본 지리 정보를 구했다.
          h6 17년 03월 31일 : 한국 지리 정보의 1차 정제가 완료됬다.
          h6 17년 04월 01일 : 프로토 타입(ver.53)이 만들어졌다.
          h6 17년 04월 06일 : 처음으로 서버가 다운됬다.
          h6 17년 04월 11일 : 다운된 서버를 복구했다.
          h6 17년 04월 11일 : 알파 버전으로 개발 업그레이드 했다.
          h6 17년 04월 12일 : 도메인(gilhub.io)를 등록했다.          
          h6 17년 04월 19일 : 브랜드 스토리와 단체의 성격을 정립했다.
          h6 17년 04월 20일 : 웹로그 분석 코드를 심었다.(ga,na,fp)
          br 
          h6 17년 04월 21일 : 공유 API를 적용하기로 했지만 실패했다.
          h6 17년 04월 26일 : 이벤트 페이지를 정의했다.
          h6 17년 04월 28일 : 한국 지리 정보 일부가 정제 완료되었다.
          h6 17년 04월 29일 : 일본 지리 정보의 정제 프로세스가 구축되었다.
          h6 17년 04월 30일 : 한국의 강원도 코스가 거의 완료되었다.
          h6 17년 05월 08일 : 강원도가 완료되었고, 데이터베이스에 적용했다.
          h6 17년 05월 09일 : 제주도가 완료되었고, 데이터베이스에 적용했다.
          h6 17년 05월 10일 : 소비자용어로 바꾸었고, 이벤트 페이지도 조정했다.
          br
          h6 17년 2분기 : 한국 데이터 양질화, 일본 데이터 오픈한다.
          h6 17년 3분기 : 알파 테스트를 통해 개발과 디자인을 고도화 한다.
          h6 17년 4분기 : 베타 테스트를 론칭한다.
          h6 18년 : 기존 데이터 양질화, 추가 데이터 오픈, 정식 서비스 론칭
          br
          