doctype html
html(lang='ko')
  head
    title gilhub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
        background-color:#313a4e;
      }
      legend{
      margin-bottom:0px;
      }      
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      .form-group{
      padding-left:10px;
      padding-right:10px;
      margin-bottom:10px;
      }       
      .img-responsive.img-circle.margin.sub{     
      border:1.5px solid rgb(71, 78, 93);
      display:block;
      margin:0 auto;
      background-clip: padding-box;
      }
      button.btn.btn-default.btn-block{
      background-color:black;
      border:1px solid white;
      font-size:2.5rem;
      margin-top:10px;
      margin-bottom:10px;      
      color:#ffffff;           
      }
      h1,p{
      color:white;      
      padding-left:10px;
      padding-right:10px;
      text-align:center;
      }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') gilhub 
          
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/about_us') about us
    .container-fluid
      #myCarousel.carousel.slide(data-ride='carousel')       
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            a(href='/')
              img(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/1.+page_intro/5170334-hiking-wallpaper.jpeg', width='100%', height='auto')
              .carousel-caption
                h1 gilhub
                p PROJECT
      
      form(name='position_fix', action='/return', method='post')
        legend
          h1 STORY
          legend
          br
          p asdasdasdasd
          p asdasdasd
          p asdasdasd
          p asdasdasdasd
          p asdasdasd
          p asdasdasd
          br
          
          h1 TEAM
          legend
          br          
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/jolbu.jpg', width='170', alt='Image')
          br
          p
           | Lupin
          | 
          p
          p
           | finance｜manager
          | 
          p
           | lupin@gilhub.io
          | 
          br
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/jolbu.jpg', width='170', alt='Image') 
          br
          p
           | Mini
          | 
          p
           | marketing｜manager
          | 
          p
           | mini@gilhub.io
          | 
          br
          img.img-responsive.img-circle.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/gilhub/3.+page_about_us/jolbu.jpg', width='170', alt='Image')
          br
          p
           | Able
          | 
          p
           | web-engineer｜manager
          | 
          p
           | able@gilhub.io
          | 
          br
          h1 HISTORY
          legend
          br
          p asdasdasdasd
          p asdasdasd
          p asdasdasd
          p asdasdasdasd
          p asdasdasd
          p asdasdasd
          br
          
          h1 CONTACT US            
          legend
          br
          p 
            a(href='https://www.facebook.com/gilbub.io/') Community Center
          p e-mail : info@gilhub.io