doctype html
html(lang='ko')
  head
    title gilhub
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{
        color:#313a4e;
        background-color:#313a4e;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      #team,#script{
      padding-left:10px;
      padding-right:10px;
      margin-bottom:10px;
      } 
      h5,h6,h7{
      color:white;
      }
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') gilhub
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/about_us') about us
    .container-fluid.text-center
      .row
        .col-sm-12
          img.img-responsivemargin.sub(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/htm_20150925154539447999.JPG', width='100%', alt='Image')          
          legend
      #script.row
        .col-sm-12
          h5 gilhub(길 허브) 서비스가 무엇인가요?
          legend
            h7 블라            
      #script.row
        .col-sm-12
          h5 gilhub(길 허브) 서비스는 운영진은 누구인가요?
          legend
      #team.row
        .col-sm-3
          img.img-responsive.img-rounded.margin.sub(src='	https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EB%9A%B1%EB%83%A5.jpg', width='100%', alt='Image')
          br
        .col-sm-9
          h7 뚱냥이          
      #team.row
        .col-sm-3
          img.img-responsive.img-rounded.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EB%A7%9D%EA%B5%AC.png', width='100%', alt='Image')
          br
        .col-sm-9
          h7 망구          
      #team.row
        .col-sm-3
          img.img-responsive.img-rounded.margin.sub(src='https://s3.ap-northeast-2.amazonaws.com/projectanmg/images/%EC%A1%B8%EB%B6%80.png', width='100%', alt='Image')
          br
        .col-sm-9
          h7 졸부          
      #script.row
        .col-sm-12
          h5 gilhub(길 허브) 서비스에 궁금한 것이 있으신가요?          
          legend
          h6 e-mail : huttonvanleugen@gmail.com
      a.btn.btn-default.btn-top(href='#')
        span.glyphicon.glyphicon-menu-up
        |  Top